

body {
    background-image: url(AntiracismProtest_1200x666.jpg);
    background-size: 100%;
}

.center {
    background-color: rgb(0, 0, 0, .50);
    padding-right: 10px;
    border: 0;
    margin: 0;
    margin-top: 4.5cm;
    margin-left: 9cm;
    margin-right: 9cm;
    padding: 30px;
    color: white;

}

.center img {
    padding-left: 0;
    margin-left: -11px;
    width: 650px;
    height: auto;
}

.p2 {
    background-color: rgb(0, 0, 0, .50);
    padding-right: 10px;
    border: 0;
    margin: 0;
    margin-top: 4.5cm;
    margin-left: 9cm;
    margin-right: 9cm;
    padding: 30px;
    color: white;

}

.p2 img {
    padding-left: 0;
    margin-left: -11px;

    width: 650px;
    height: auto;
}

.p3 {
    background-color: rgb(0, 0, 0, .50);
    padding-right: 10px;
    border: 0;
    margin: 0;
    margin-top: 4.5cm;
    margin-left: 9cm;
    margin-right: 9cm;
    padding: 30px;
    color: white;

}

.p3 img {
    padding-left: 0;
    margin-left: -11px;

    width: 650px;
    height: auto;
}

.p4 {
    background-color: rgb(0, 0, 0, .50);
    padding-right: 10px;
    border: 0;
    margin: 0;
    margin-top: 4.5cm;
    margin-left: 9cm;
    margin-right: 9cm;
    padding: 30px;
    color: white;

}

.p4 img {
    padding-left: 0;
    margin-left: -11px;

    width: 650px;
    height: auto;
}

.p5 {
    background-color: rgb(0, 0, 0, .50);
    padding-right: 10px;
    border: 0;
    margin: 0;
    margin-top: 4.5cm;
    margin-left: 9cm;
    margin-right: 9cm;
    padding: 30px;
    color: white;

}

.p5 img {
    padding-left: 0;
    margin-left: -11px;

    width: 650px;
    height: auto;
}


.p6 {
    background-color: rgb(0, 0, 0, .50);
    padding-right: 10px;
    border: 0;
    margin: 0;
    margin-top: 4.5cm;
    margin-left: 9cm;
    margin-right: 9cm;
    padding: 30px;
    color: white;

}

.p6 img {
    padding-left: 0;
    margin-left: -11px;

    width: 650px;
    height: auto;
}

